@keyframes rotate {
    0% {
        opacity: 0.1;
        transform: rotate(0deg);
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0.1;
        transform: rotate(359deg);
    }
}

body {
    background: url(../images/rAmBackground2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbotron {
    opacity: .7;
    text-align: center;
    padding: 0.4em 0.5em;
    font-size: 1.2em;   
}
.see-through {
    opacity: .7;
}
.container-fluid {
    background: teal;
    opacity: .7;
}
.imgRotate {
    animation-name:            rotate; 
    animation-duration:        1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}