body {
    background: url(../images/rAmBackground2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbotron {
    opacity: .7;
    text-align: center;
}