body {
    background: url(../images/rAmBackground2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbotron {
    opacity: .7;
    text-align: center;
    padding: 0.4em 0.5em;
    font-size: 1.2em;   
}
.see-through {
    opacity: .7;
}
.container-fluid {
    background: teal;
    opacity: .7;
}
